* {
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
        margin-top: 100px;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
}

